body {
    font-family: "Noto Sans JP";
    font-size: "25px";
    text-align: center;
    background-color:#222;
}

.container {
   margin-top: 10%;
   font-family: "Noto Sans JP";
   font-size: "50px";
   color: #FFF;
   
}

.container p {
font-size: 50px;
margin-bottom: 2px;
}

#iurl {
background-color: inherit;
width: 100%;
height: 28px;
border: solid 1px #FFF;
font-family: "Roboto";
font-size: 16px;
color: #eee;
padding: 8px 0px;
margin-bottom: 5px;
box-sizing: content-box;
text-align: center;
border-radius: 2px;
}

#btn {
background-color: inherit;
width: 100%;
height: 28px;
border: solid 1px #0066ff;
font-family: "Roboto";
font-size: 16px;
color: #0066ff;
padding: 8px 0px;
box-sizing: content-box;
transition: 0.3s;
border-radius: 2px;
}

#btn:hover {
background: #0066ff;
color: #fff;
}

.container a {
height: 20px;
background: inherit;
color: #ddd;
border: 0;
cursor: pointer;
font-family: "Roboto";
font-size: 17px;
transition: 0.3s;
}
.container a:hover {
font-size: 23;
}
.url {
width: 300px;
margin: auto;
}